/* Site.css for YRZ web page */

/* page-level */
html {
	background-color: #66f;
}
.body {
	width: 900px;
	margin: auto;
}

/* content specific */
.nav {
	position: absolute;
	float: left;
	width: 200px;
}
.contentwrap {
	clear: none;
	margin-left: 200px;
}
.subcontentShow, .section:hover .subcontent{
	/* implement sliding animation using css or jQuery:
		*  when a div with an id is clicked, this should be 
		*  applied/removed from the class="subcontent" div.
	
	make sure everything except Header and description are
	encompassed by class="subcontent" div. 

	those with id and hover should show subContent, as well
	as after the click events. */
}

/* common use */
h1 {
	color: blue;
}
h2 {
	font-style: italic;
}
h3 {
}
ul {
	
}
a {
	color: navy;
}

/*home*/
#portraits img {
	position: absolute;
	float: right;
	clear: both;
}
#info {
}
#contact {
}
#bio {
}


/*Research*/
#rinterests {
}
#rsponsors {
}
#students {
}
#alumni {
}


/*Publications*/
#journal {
}
#conference {
}
#patents {
}


/*Teaching*/
#offered {
}
#previous {
}

/*Resources*/
#career {
}
#writing {
}
#latex {
}
#presentation {
}
#findingjob {
}


/*Miscellaneous*/
